.TodoWrapper {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .TodoWrapper h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .TodoWrapper .TodoForm {
    margin-bottom: 20px;
  }
  
  .TodoWrapper .Todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .icons {
    display: flex;
    gap: 10px; /* Adds gap between icons */
}

.edit-icon, .delete-icon {
    cursor: pointer;
    font-size: 18px;
    color: #333;
    transition: color 0.3s ease;
}

.edit-icon:hover {
    color: #4caf50; 
}

.delete-icon:hover {
  color: #ee0505; 
}

  .TodoWrapper .Todo.completed {
    text-decoration: line-through;
    color: #999;
  }
  
  .TodoWrapper .Todo button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }

  .completed {
    color: var(--gray-color);
    text-decoration: line-through;
    cursor: pointer;
  }
  